@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Chela+One');

#t1, td{
	border: 10px inset #00CED1;
	font-size: 20px;
	background: #ADD8E6;
	font-family: 'Chela One', cursive;

}
caption {
border: 6px dashed #00CED1;
background:  #ADD8E6;
font-family: 'Chela One', cursive;
}
#tex {
	text-indent: 2em;
	line-height: 1.5em;
	background:linear-gradient( to right,#ADD8E6 10%,pink);
	border-radius: 10px;
	border: 5px dashed #00CED1;
	

}
#menu, li{
	display: inline;
	background:linear-gradient(45deg,#ADD8E6, #00CED1,#87CEFA);
	border-radius: 10px;
	font-family:'Chela One', cursive;
	font-size: 25px;

}

#menu li {
	border: solid #ADD8E6;

}
#aa{
	text-decoration: none;
	color: black;
	text-align: center;
}

body{
background: url(mar.jpeg);
background-size: 100%;
background-repeat: repeat-y;

}


nav{
text-align: center;

}

nav ul {
	padding: 10px 60px;

}
footer{
background: #ADD8E6;

}
table {
 text-align: center;
 margin: auto;
}
dt {
background:  #ADD8E6;
border-radius: 15px;

}
#sereia {
	border: 5px outset #00CED1;
	outline: 5px dotted #ADD8E6;
	outline-offset: 1,5px;


}
#text2{
	text-indent: 2em;
	line-height: 1.5em;
	background:radial-gradient(#ADD8E6 25%,pink);
	
	
}
